body {
    height:100%;

    background-color: #588bb5;
  /* background: linear-gradient(
    #588bb5,
    #436eb7
    ); */
     background-repeat: no-repeat;
     background-attachment: fixed;
}

.block {
    background-color: aquamarine;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
}

.talk {
  vertical-align: top;
}

#waterme {
    vertical-align:middle;
}

.flowa {

}

.center {
    display: block;
    margin: auto;
}

.intro {
    position: relative;
    text-align: center;
     color: white;
}

#welcome {
    position: absolute;
    top: 8px;
    left: 300px;
}

#look {
    position: absolute;
    bottom: 8px;
    right: 300px;

}

.door1 {

    position: absolute;
    bottom: 80px;
    left: 80px;

}

#dont {
     position: absolute;
    bottom: 30px;
    right: 150px;
    color: #881c1c;
}

.door2 {
    position: absolute;
    bottom: 300px;
    right: 200px;
}