img {
    align-items: center;
}

body {
    background-color: #141455;
    color:#141455
}

a {
    color: #8f1069;
}

h1 {
    color: blueviolet;
}

p {
    background-color: #a9a9a9;
    border-width: 5px;
    border-style:solid;
    border-radius: 20px;
    border-color:#8f1069
}

p{
    margin:10px;
    padding:10px;
}

h3 {
    color:blueviolet;
}

hr {
    color: #926666;
}