body {
       background-color: #000000;
    background-image: url("frontimg/floaty.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color:gold
}

h1{
    text-align: center;
}

a{
    color: #ffffff;
}

   /* background-color: #545469; */